<header>
    <h1>Command Line Basics</h1>
</header>
<div class="content">
    <section>
        <h2>Introduction</h2>
        <p>The command line, or command-line interface (CLI), is a text-based method of interacting with a computer's 
            operating system that enables users to perform tasks without relying on a mouse. It provides a way to precisely 
            control and automate various functions on a computer or server. In this lesson, we will delve into the essential 
            concepts and fundamental commands required to efficiently navigate and operate within a command-line environment, all 
            accomplished through typing text commands rather than using graphical interfaces and a mouse.
        </p>
        <p>It's important to note that different systems have their own command-line interfaces:</p>
        <ul>
            <li><strong>Windows</strong>: Uses Command Prompt (cmd) and PowerShell.</li>
            <li><strong>Linux/Unix</strong>: Offers a Terminal with various shell options, such as Bash, Zsh, etc.</li>
            <li><strong>macOS</strong>: Provides a Terminal with support for Unix-based shells.</li>
        </ul>
    </section>
</div>
<div class="content">
    <section>
        <h2>Commands</h2>
        <h3>File System Navigation:</h3>
        <ul>
            <li><strong>pwd</strong>: Print the current directory.</li>
            <li><strong>ls</strong>: List files and directories.</li>
            <li><strong>cd</strong>: Change the directory.</li>
            <li><strong>cd ..</strong>: Move up one directory.</li>
            <li><strong>cd ~</strong>: Navigate to the home directory.</li>
        </ul>
        <h3>Working with Files and Directories:</h3>
        <ul>
            <li><strong>mkdir</strong>: Create directories.</li>
            <li><strong>touch</strong>: Create empty files.</li>
            <li><strong>rm</strong>: Remove files or directories.</li>
            <li><strong>cp</strong>: Copy files or directories.</li>
            <li><strong>mv</strong>: Move or rename files or directories.</li>
            <li><strong>cat</strong>: Display file contents.</li>
        </ul>
        <h3>File Permissions:</h3>
        <ul>
            <li><strong>chmod</strong>: Change file permissions.</li>
            <li><strong>chown</strong>: Modify file ownership.</li>
        </ul>
        <h3>File Content Manipulation:</h3>
        <ul>
            <li><strong>grep</strong>: Search for text in files.</li>
            <li><strong>sed</strong>: Edit text using regular expressions.</li>
            <li><strong>awk</strong>: Process text data, often in tabular format.</li>
        </ul>
        <h3>Process Management:</h3>
        <ul>
            <li><strong>ps</strong>: List running processes.</li>
            <li><strong>top</strong> or <strong>htop</strong>: Monitor processes in real-time.</li>
            <li><strong>kill</strong>: Terminate processes.</li>
        </ul>
        <h3>Input and Output:</h3>
        <ul>
            <li><strong>stdin</strong>, <strong>stdout</strong>, <strong>stderr</strong>: Standard input, output, and error streams.</li>
            <li><strong>Pipelines (<code>|</code>)</strong>: Pass output from one command to another.</li>
        </ul>
        <h3>Wildcards:</h3>
        <ul>
            <li><strong>*</strong>: Matches any characters in a filename.</li>
            <li><strong>?</strong>: Matches a single character in a filename.</li>
        </ul>
        <h3>Command Help and Manuals:</h3>
        <ul>
            <li><strong>man</strong>: Display command manuals.</li>
            <li><strong>--help</strong>: Access help information for commands.</li>
        </ul>
        <h3>History:</h3>
        <ul>
            <li><strong>history</strong> or pressing up of the arrow key in the keyboard: 
                Access previous commands.</li>
        </ul>
        <!-- <p>Reusing previously executed commands.</p> -->
    </section>
</div>