<div class="row">
  <div class="card">
    <div class="hero-class">
      <div class="hero-image">
        <img src="./assets/max_dt.png" alt="Cartoon version of Max" class="hero-image">
      </div>
      <div class="hero-text">
        <h1 #typewriterHeading1 style="font-family: 'Flow Circular', sans-serif; text-align: center;"></h1>
        <h1 #typewriterHeading2 style="font-family: 'Flow Circular', sans-serif; text-align: center;"></h1>
        <p #typewriterText></p>
        <!-- <p>I'm a dedicated web developer located in New York.
          My main purpose is not only to satisfy my clients,
          but also help them understand what will benefit them in the long term.</p> -->
      </div>
    </div>
  </div>
</div>
  