<h1><img src="/assets/under_construction.png" style="height:50px"> Websites Under Construction <img src="/assets/under_construction.png" style="height:50px"></h1>


<!-- 
<div class="row" style="margin-left: auto; margin-right: auto;">
    <div class="col-sm-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Budgeting App</h3>
          <p class="card-text">Will be based on CRUD operations for adding, updating, and deleting products bought.
            It will automatically total what users invest/spend on.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Fitness & Diet Planner</h3>
          <p class="card-text">Will have a page for workouts, nutrition, and motivation.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Radio Station of my favorite music</h3>
          <p class="card-text">Music for different scenarioes, such as 
            work, the gym, chill beats, and songs to even make you laugh.
          </p>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row" style="margin-left: auto; margin-right: auto;">
    <div class="col-sm-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Budgeting App</h3>
          <p class="card-text">Will be based on CRUD operations for adding, updating, and deleting products bought. It will automatically total what users invest/spend on.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Fitness & Diet Planner</h3>
          <p class="card-text">Will have a page for workouts, nutrition, and motivation.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Radio Station of my favorite music</h3>
          <p class="card-text">Music for different scenarios, such as work, the gym, chill beats, and songs to even make you laugh.</p>
        </div>
      </div>
    </div>
     <!-- Exam Portal -->
     <div class="col-sm-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Exam Portal</h3>
          <p class="card-text">
            A platform for conducting online exams, built using Spring Boot and Angular. The application offers user authentication and authorization using Spring Security and stores exam-related data in a MySQL database.
          </p>
        </div>
      </div>
    </div>
    
    <div class="col-sm-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Hospital Management System</h3>
          <p class="card-text">
            A system for managing hospital operations, developed using Spring Boot and Angular. This comprehensive healthcare solution includes features like patient registration, appointment scheduling, and electronic health record (EHR) management. It uses a PostgreSQL database for data storage.
          </p>
        </div>
      </div>
    </div>
    <!-- Ecommerce -->
    <div class="col-sm-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Ecommerce</h3>
          <p class="card-text">
            An online shopping platform built with Spring Boot for the backend and React for the frontend. The Ecommerce application supports user registration and authentication using Spring Security and stores product details, user profiles, and order information in a MongoDB database.
          </p>
        </div>
      </div>
    </div>
  </div>