<!-- use a under construction image -->
<h1><img src="/assets/under_construction.png" style="height:50px"> Websites Under Construction <img src="/assets/under_construction.png" style="height:50px"></h1>


<div class="row">
    <div class="col-sm-6">
      <div class="card" style="height: 175px">
        <div class="card-body">
          <h5 class="card-title">Budgeting App</h5>
          <p class="card-text">Will be based on CRUD operations for adding, updating, and deleting products bought.
            It will automatically total what users invest/spend on.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card" style="height: 175px">
        <div class="card-body">
          <h5 class="card-title">Fitness & Diet Planner</h5>
          <p class="card-text">Will have a page for workouts, nutrition, and motivation.</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="height: 175px">
        <div class="card-body">
          <h5 class="card-title">Radio Station of my favorite music</h5>
          <p class="card-text">Music for different scenarioes, such as 
            work, the gym, chill beats, and songs to even make you laugh.
          </p>
        </div>
      </div>
    </div>
  </div>