.about-card {
  width: 80%; /* Full width */
  max-width: 800px; /* Adjust the max-width as needed */
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-header {
  display: flex;
  align-items: center;
  background-color: #00376d; /* Background color for the header */
  color: white;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.about-icon {
  font-size: 2rem; /* Adjust the icon size as needed */
  margin-right: 10px;
}

.about-title {
  font-size: 1.5rem; /* Customize the title font size */
  font-weight: bold;
}

.about-text {
  font-size: 1rem; /* Customize the text font size */
  padding: 20px;
}

.social-media-list {
  list-style-type: none;
  padding: 0;
}

.social-media-list li {
  margin: 10px 0;
}

.social-media-list a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000; /* Adjust the color as needed */
  transition: color 0.3s;
}

.social-media-list a:hover {
  color: #00376d; /* Change text color on hover */
}

.mat-icon {
  margin-right: 10px;
  font-size: 1.5rem;
}

.mat-card-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image {
  width: 150px;
  height: 150px;
  border: 5px solid #00376d; /* Add a border with your desired color */
  transition: transform 0.3s; /* Add a smooth transition effect */
  display: block; /* Ensures the image is a block-level element */
  margin: 0 auto; /* Center the image horizontally */
}

.about-image:hover {
  transform: scale(1.1); /* Enlarge the image on hover */
}

.social-media-container {
  display: flex;
  align-items: center; /* Vertically center the items */
  justify-content: center; /* Horizontally center the items */
  max-width: 100%;
  flex-wrap: wrap; /* wrap to fit card */
}

.social-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #00376d; /* Change this color as needed */
  margin: 0 10px;
  font-size: 1.2rem; /* Adjust the font size as needed */
  transition: color 0.3s;
  max-width: 100%;
  flex-wrap: wrap; /* wrap to fit card */
}

.social-link i {
  margin-right: 5px;
  max-width: 100%;
}

.social-link:hover {
  color: #000; /* Change the color on hover as needed */
}

@media (max-width: 600px) {
  .social-link {
    margin: 10px; /* Adjust the margin for spacing after wrap */
  }
}