<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="logo-container">
    <a routerLink="/">
      <img src="./assets/logo.gif" alt="Your Logo" class="logo">
    </a>
    <!-- <span class="navbar-title font-weight-bold">DT Web Solutions</span> -->
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" [ngClass]="{ 'show': isNavbarOpen }" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link font-weight-bold" routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" routerLink="/resources" routerLinkActive="active">Resources</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" routerLink="/one-on-one-services" routerLinkActive="active">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link font-weight-bold" routerLink="/about" routerLinkActive="active">About</a>
      </li>
    </ul>
  </div>
</nav>
