/* CSS Reset - Remove default padding and margin */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: #007bff; /* Background color for the navbar */
    background-color: #00376d;
    /* background-color: rgba(59, 130, 246, 0.5); */
    /* background-color: #003B68; */
     /* background-color: #013a6f; */
    padding: 0 20px; /* Adjust padding as needed */
  }

  .mat-toolbar .navbar-toggler-icon {
    color: #fff;
  }

  /* Change the color of the toggler icon to white in normal state */
.mat-toolbar .navbar-toggler-icon {
  color: #fff;
}

/* Change the color of the toggler icon to white when the menu is open */
.mat-toolbar.show .navbar-toggler-icon {
  color: #fff;
}

  #navbarNav {
    padding: 0 20px;
    width: 100%;
    background-color: #00376d;
  }
  
  .navbar-toggler-icon {
    background-color: #fff; /* Set your desired background color */
    border: 1px solid #fff; /* Add a white border to the toggler icon */
    color: #00376d; /* Set the color of the toggler icon */
  }
  
   .navbar .nav-link {
   color: #ffffffcc; 
  }
  
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-container .logo,
  .logo-container .navbar-title {
    height: 50px; /* Set the desired height for the title */
    margin: 0; /* Center both logo and title horizontally */
    padding: 0; /* Remove any padding */
    font-size: 1.5rem; /* Set the desired font size for the title */
    color: #fff; /* Text color for the title */
    display: flex; /* Make sure the title is a flex container */
    align-items: center; /* Vertically center the content in both the logo and title */
  /*  background-color: #00376d;  Set the background color to match the navbar */
    padding: 0 10px; /* Add padding to the title for spacing */
    border-radius: 4px; /* Add rounded corners for the title background */
  }
  
  .logo-container .logo {
    height: 60px; /* Increase the height of the logo */
    width: 60px; /* Increase the width of the logo */
    margin: 0; /* Remove any margin on the logo */
    padding: 0; /* Remove any padding on the logo */
    background-color: #00376d; /* Set the background color to match the navbar */
    border-radius: 50%; /* Create a circular background for the logo */
  }
  
  /* Add a slight shadow to the navbar */
  .mat-toolbar {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  