<mat-toolbar color="primary">
    <div class="logo-container">
      <img src="/assets/logo.png" alt="Your Logo" class="logo">
      <span class="navbar-title">DT Web Solutions</span>
    </div>
    <span class="example-spacer"></span>
    <div class="nav-buttons">
      <button mat-button routerLink="/" class="nav-link">Home</button>
      <button mat-button routerLink="/resources" class="nav-link">Resources</button>
      <button mat-button routerLink="/one-on-one-services" class="nav-link">Services</button>
      <button mat-button routerLink="/about" class="nav-link">About</button>
    </div>
  </mat-toolbar>
  