<!-- <div class="container">
  <h2>One-on-One Services</h2>
  <p>Schedule a meeting with me to discuss your needs in detail.</p> -->
  <!-- Calendly badge widget begin -->
  <!-- <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
  <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
  <script type="text/javascript">
    window.onload = function() {
      Calendly.initBadgeWidget({
        url: 'https://calendly.com/maxdell220/meeting-with-max',
        text: 'Schedule time with me',
        color: '#0069ff',
        textColor: '#ffffff',
        branding: undefined
      });
    }
  </script> -->
  <!-- Calendly badge widget end -->
<!-- </div> -->


<!-- <div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br>
      <div class="card">
        <div class="card-body">
          <h2>Book a One-on-One Service</h2>
          <p class="text-info">Note: Your first service is free of charge!</p>
           Calendly inline widget begin 
          <div class="calendly-inline-widget" data-url="https://calendly.com/maxdell220/meeting-with-max" style="min-width:320px;height:700px;"></div>
          <p class="text-warning">Note: All times are in Eastern Standard Time (EST).</p>-->
          <!-- Calendly inline widget end
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br> -->



<!-- <div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <br>
      <div class="card">
        <div class="card-body">
          <h2>Book a One-on-One Service</h2>
          <p class="text-info">Note: Your first service is free of charge!</p>
          <form>
            <div class="form-group">
              <label for="serviceType">Service Type</label>
              <select id="serviceType" class="form-control" [(ngModel)]="service.serviceType" name="serviceType" required>
                <option value="consulting">Consulting</option>
                <option value="training">Knowledge/Skill Training</option>
                <option value="coaching">Job/Business Coaching</option>
              </select>
            </div>
            <div class="form-group">
              <label for="date">Date</label>
              <input type="date" id="date" class="form-control" [(ngModel)]="service.date" name="date" required>
            </div>
            <div class="form-group">
              <label for="time">Time</label>
              <input type="time" id="time" class="form-control" [(ngModel)]="service.time" name="time" required>
            </div>
            <button type="submit" class="btn btn-primary" (click)="bookService()">Book Service</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div> -->