/* Define Lato Regular */
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Define Lato Bold */
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal; /* Bold is a different weight, not a different style */
}

/* Define Lato Italic */
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Define Flow Circular Regular */
@font-face {
  font-family: 'Flow Circular';
  src: url('/assets/fonts/Flow_Circular/circular-std-medium-500.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* Define Circular Bold */
/* @font-face {
  font-family: 'Flow_Circular';
  src: url('../assets/fonts/Circular-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
} */


h1 {
  font-family: 'Flow Circular', sans-serif; /* Use Flow Circular with a fallback to a generic sans-serif font */
  color:aliceblue;
}


h5 {
  font-family: 'Lato', sans-serif; /* Use the Lato font with a fallback to a generic sans-serif font */
  font-weight: normal; /* Apply bold style to the h1 element */
}

p {
  font-family: 'Lato', sans-serif; /* Use the Lato font with a fallback to a generic sans-serif font */
  font-weight: normal; /* Apply bold style to the h1 element */
}

.card-text {
  flex-grow: 1;
  text-overflow: ellipsis; /* Display ellipsis (...) for overflow text */
  font-size: 14px;
}

.row {
  width: 95%; 
  margin-left: auto; 
  margin-right: auto; 
  display: flex; 
  flex-wrap: wrap; 
}

.col-sm-4.mb-4 {
  flex-grow: 1;
  min-width: 350px; /* minimum width for card before it shrinks */
}

.card {
  max-width: 400px; 
  min-height: 600px;
  flex-grow: 1;
}

.card-body {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-body a {
  width: 80%;
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translateX(-50%); /* Center the button horizontally */
  text-align: center; /* Additional centering for text inside the button */
}

/* .card a {
  width: 100%;
} */

@media (max-width: 450px) {
  .col-sm-4.mb-4 {
    flex: 1 1 100%; /* Allow only 1 card per row */
  }
}

/* @media (max-width: 800px) {
  #card-text1 {
    font-size: 80%; 
  }
} */

/* @media (max-width: 500px) {
  #card-text1 {
    font-size: 12px; /* Reduce font size for smaller screens 
  }
} */