<h1>Projects</h1>

<div class="row" style="width: 95%; margin-left: auto; margin-right: auto;">
  <div class="col-sm-12 mb-4">
    <div class="card">
      <div class="row no-gutters">
        <div class="col-md-6">
          <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
            <a href="https://momsdelionline.com/">
              <img src="./assets/moms_deli.png" class="card-img"/>
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h3 class="card-title">Mom's Deli</h3>
            <p class="card-text flex-grow-1" id="card-text1" style="overflow: hidden;">
              Collaborated with a client to develop a website for a business will open soon, 
              selling a diverse range of products. The website was built using Angular and Spring, and 
              stores product information, product categories, and shipping info in PostgreSQL database.
            </p>
            <a href="https://momsdelionline.com/" class="btn btn-primary">CLICK HERE</a>
          </div>
        </div>
      </div>
    </div>      
  </div>
</div>
<div class="row" style="width: 95%; margin-left: auto; margin-right: auto;">
  <div class="col-sm-12 mb-4">
    <div class="card">
      <div class="row no-gutters">
        <div class="col-md-6">
          <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
            <a href="https://aacgectyuoki.github.io/YemenSuper/products">
              <img src="./assets/yemen_super.png" class="card-img"/>
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h3 class="card-title">eCommerce Supermarket</h3>
            <p class="card-text flex-grow-1" id="card-text1" style="overflow: hidden;">
              Collaborated with a client to build a website for delivering products from his home country. 
              The website was developed using Angular, Node.js, and the PayPal Developers platform.
            </p>
            <a href="https://aacgectyuoki.github.io/YemenSuper/products" class="btn btn-primary">CLICK HERE</a>
          </div>
        </div>
      </div>
    </div>      
  </div>
</div>
<div class="row" style="width: 95%; margin-left: auto; margin-right: auto;">
  <div class="col-sm-12 mb-4">
    <div class="card">
      <div class="row no-gutters">
        <div class="col-md-6">
          <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
            <a href="https://westsiderunnersnyc.org/">
              <img src="./assets/west_side_runners.png" class="card-img"/>
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h3 class="card-title">West Side Runners</h3>
            <p class="card-text flex-grow-1" id="card-text1" style="overflow: hidden;">
              Since I have a passion for running, I wanted to find a way to help my running club register more members online. 
              I achieved this by developing a widget that directs people to the Instagram page for more followers, and by 
              navigating them to a page where they can sign a registration form.
            </p>
            <a href="https://westsiderunnersnyc.org/" class="btn btn-primary">CLICK HERE</a>
          </div>
        </div>
      </div>
    </div>      
  </div>
</div>