<h1>Websites Deployed</h1>

<div class="row">
    <div class="col-sm-6">
      <div class="card" style="height: 550px">
        <div class="card-body">
          <h5 class="card-title">West Side Runners</h5>
          <img src="/assets/west_side_runners.png"
          style="width:100%; max-width:300px; margin-left: auto; margin-right: auto;">
          <br>
          <p class="card-text">Since I have a passion with running, I wanted to find a way to help my running club.
            I did that my developing a website for them to direct people to the Instagram page, sign a registration form,
             check the team records, and use a practice calendar.
          </p>
          <a href="https://westsiderunnersnyc.org/" class="btn btn-primary">CLICK HERE</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card" style="height: 550px">
        <div class="card-body">
          <h5 class="card-title">YemenSuper (eCommerce Supermarket Project)</h5>
          <img src="/assets/yemen_super.png"
          style="width:100%; max-width:300px; margin-left: auto; margin-right: auto;">
          <br><br> 
          <p class="card-text">Helped a friend build a website to sell products from his home country, Yemen, using Angular, Node.JS, and Paypal</p>
          <a href="https://aacgectyuoki.github.io/YemenSuper/products" class="btn btn-primary">CLICK HERE</a>
        </div>
      </div>
    </div>
    
  </div>