/* Define Lato Regular */
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Define Lato Bold */
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal; /* Bold is a different weight, not a different style */
}

/* Define Lato Italic */
@font-face {
  font-family: 'Lato';
  src: url('/assets/fonts/Lato-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Define Flow Circular Regular */
@font-face {
  font-family: 'Flow Circular';
  src: url('/assets/fonts/Flow_Circular/circular-std-medium-500.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/* Define Circular Bold */
/* @font-face {
  font-family: 'Flow_Circular';
  src: url('../assets/fonts/Circular-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
} */


h1 {
  font-family: 'Flow Circular', sans-serif; /* Use Flow Circular with a fallback to a generic sans-serif font */
  color:aliceblue;
}


h5 {
  font-family: 'Lato', sans-serif; /* Use the Lato font with a fallback to a generic sans-serif font */
  font-weight: normal; /* Apply bold style to the h1 element */
}

p {
  font-family: 'Lato', sans-serif; /* Use the Lato font with a fallback to a generic sans-serif font */
  font-weight: normal; /* Apply bold style to the h1 element */
}
