<h1>Websites Deployed</h1>

<div class="row" style="margin-left: auto; margin-right: auto;">
    <div class="col-sm-4 mb-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <a href="https://westsiderunnersnyc.org/">
            <img src="/assets/west_side_runners.png" class="img-fluid" 
            style="width:100%;
            display: block;
            margin-left: auto;
            margin-right: auto;"/>
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">West Side Runners</h3>
          <p class="card-text flex-grow-1" id="card-text1" style="overflow: hidden;">Since I have a passion with running, I wanted to find a way to help my running club.
            I did that by developing a website for them to direct people to the Instagram page, sign a registration form,
            check the team records, and use a practice calendar.
          </p>
          <a href="https://westsiderunnersnyc.org/" class="btn btn-primary">CLICK HERE</a>
        </div>
      </div>      
    </div>
    <div class="col-sm-4 mb-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <a href="https://aacgectyuoki.github.io/YemenSuper/products">
            <img src="/assets/yemen_super.png" class="img-fluid" 
            style="width:100%;
            display: block;
            margin-left: auto;
            margin-right: auto;"/>
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">eCommerce Supermarket</h3>
          <p class="card-text flex-grow-1">
            Helped a friend build a website to sell products from his home country, Yemen, using Angular, Node.JS, and Paypal
          </p>
          <a href="https://aacgectyuoki.github.io/YemenSuper/products" class="btn btn-primary">CLICK HERE</a>
        </div>
      </div>      
    </div>
    <div class="col-sm-4 mb-4">
      <div class="card">
        <div class="bg-image hover-overlay" mdbRipple rippleColor="light">
          <a href="https://momsdelionline.com/">
            <img src="/assets/moms_deli.png" class="img-fluid" 
            style="width:100%;
            display: block;
            margin-left: auto;
            margin-right: auto;"/>
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <p style="margin-bottom: 20%;">&nbsp;</p>
          <h3 class="card-title">Mom's Deli</h3>
          <p class="card-text flex-grow-1">
            Worked with a friend/client to develop a website for a business that he will open to sell
            a diverse range of products. Used Angular, Spring, PostgreSQL, and deployed on AWS.
          </p>
          <a href="https://momsdelionline.com/" class="btn btn-primary">CLICK HERE</a>
        </div>
      </div>      
    </div>
  </div>