  /* Define Flow Circular Regular */
  @font-face {
    font-family: 'Flow Circular';
    src: url('/assets/fonts/Flow_Circular/circular-std-medium-500.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  h1 {
    font-family: 'Flow Circular', sans-serif; /* Use Flow Circular with a fallback to a generic sans-serif font */
  }

  .row {
    width: 95%; 
    margin-left: auto; 
    margin-right: auto; 
    display: flex; 
    flex-wrap: wrap; 
  }

  .col-sm-4.mb-4 {
    flex-grow: 1;
    min-width: 350px; /* minimum width for card before it shrinks */
  }

  .card {
    max-width: 400px; 
    min-height: 450px;
    flex-grow: 1;
  }
  
  .card-text {
    flex-grow: 1;
    text-overflow: ellipsis; /* Display ellipsis (...) for overflow text */
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
  }

  .card img {
    width:100%;
    /* height:30%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .card a {
    width: 100%;
  }

  .card btn.btn-primary{
    white-space: nowrap;
  } 

  @media (max-width: 450px) {
    .col-sm-4.mb-4 {
      flex: 1 1 100%; /* Allow only 1 card per row */
    }
  }
  /* .card img {
    width: 300px;
    max-width: 100%;
  }

  .card {
    margin-left: 6%;
    margin-right: 40%;
    max-width: 500px;
  } */