<br>
<div class="row" style="width: 95%; margin-left: auto; margin-right: auto;">
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="/assets/Core-Java.png" style="width: 50%;">
                    <br><br>
                    <a href="/assets/java-tutorials/java_basics.html" class="btn btn-primary" target="_blank">Java Basics</a>   
                    <br><br>
                    <a href="/assets/java-tutorials/introduction-to-java.html" class="btn btn-primary" target="_blank">OOP Concept</a>   
<br><br>
<a href="/assets/java-tutorials/introduction-to-java.html" class="btn btn-primary" target="_blank">Java Collections Framework</a>   
<br><br>



                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="/assets/og-spring.png">
                    <br><br>
                    <a href="/assets/Spring Boot Application Architecture Components and Their Roles.pdf" class="btn btn-primary" target="_blank">Spring Boot Application Architecture Components and Their Roles</a>
                    <br><br>
                    <a href="/assets/Spring_Boot_Annotations.pdf" class="btn btn-primary" target="_blank">Spring Boot Annotations</a>
                    <br><br>
                    <a href="/assets/Spring_Boot_Annotation_Examples.pdf" class="btn btn-primary" target="_blank">Spring Boot Annotation Examples</a>
                   
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="/assets/angular.png">
                    <br><br>
                    <a href="/assets/Angular - Basic Concepts.pdf" class="btn btn-primary" target="_blank">Angular - Basic Concepts</a>
                </div>
            </div>
        </div>
    </div>
<!-- </div>

<div class="row" style="width: 95%; margin-left: auto; margin-right: auto;"> -->
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="/assets/Javascript_badge.png" style="width: 35%;">
                    <br><br>
                    <a href="/assets/JavaScript Basics Cheat Sheet.pdf" class="btn btn-primary" target="_blank">JavaScript Basics Cheat Sheet</a>
                    <br><br>
                    <a href="/assets/Node.js.pdf" class="btn btn-primary" target="_blank">Node.js</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="/assets/postgres-logo.png">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="/assets/mongodb.png">
                </div>
            </div>
        </div>
    </div>
<!-- </div>

<div class="row" style="width: 95%; margin-left: auto; margin-right: auto;"> -->
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="/assets/AWS.png" style="width: 50%;">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="/assets/git_hub.png">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="/assets/jenkins.png">
                </div>
            </div>
        </div>
    </div>
<!-- </div>
<div class="row" style="width: 95%; margin-left: auto; margin-right: auto;"> -->
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="/assets/command_prompt.png" style="width: 50%;">
                </div>
            </div>
        </div>
    </div>
</div>
<br>