<br>
<div class="row" style="width: 95%; margin-left: auto; margin-right: auto;">
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="./assets/Core-Java.png" style="width: 50%;">
                    <br><br>
                    <a href="./java-tutorials/java-basics/java-basics.component.html" class="btn btn-primary">Java Basics</a>
                    <!-- <a href="./assets/java-tutorials/java_basics.html" class="btn btn-primary">Java Basics</a>    -->
                    <br><br>
                    <a href="./java-tutorials/intro-to-java/intro-to-java.component.html" class="btn btn-primary">Core Java Topics</a>
                    <!-- <a href="./oop-concepts/oop-concepts.component.html" class="btn btn-primary">OOP Concept</a>    -->
                    <!-- <a href="./assets/java-tutorials/introduction-to-java.html" class="btn btn-primary">OOP Concept</a> -->
                    <!-- <br><br> -->
                    <!-- <a href="./java-collections/java-collections.component.html" class="btn btn-primary">Java Collections Framework</a>    -->
                    <br><br>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="./assets/og-spring.png">
                    <br><br>
                    <a href="./assets/spring-tutorials/spring_boot_application_architecture.html" class="btn btn-primary">Spring Boot Application Architecture Components and Their Roles</a>
                    <br><br>
                    <a href="./spring-boot-annotations/spring-boot-annotations.component.html" class="btn btn-primary">Spring Boot Annotations</a>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="./assets/angular.png">
                    <br><br>
                    <a href="./assets/angular-tutorials/angular.html" class="btn btn-primary">Angular - Basic Concepts</a>
                </div>
            </div>
        </div>
    </div>
<!-- </div>

<div class="row" style="width: 95%; margin-left: auto; margin-right: auto;"> -->
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="./assets/Javascript_badge.png" style="width: 35%;">
                    <br><br>
                    <a href="./assets/javascript-tutorials/javascript_basics.html" class="btn btn-primary">JavaScript Basics Cheat Sheet</a>
                    <br><br>
                    <a href="./assets/javascript-tutorials/nodejs.html" class="btn btn-primary">Node.js</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="./assets/postgres-logo.png">
                    <br>
                    <!-- <a [routerLink]="['/postgresql-tutorials']" class="btn btn-primary">PostgreSQL Data Types</a> -->
                    <a href="../postgresql-tutorials/postgresql-tutorials.component.html"  class="btn btn-primary">PostgreSQL Data Types</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="./assets/mongodb.png">
                    <br><br><br>
                    <a href="./assets/mongodb-tutorials/mongodb.html" class="btn btn-primary">MongoDB</a>
                </div>
            </div>
        </div>
    </div>
<!-- </div>

<div class="row" style="width: 95%; margin-left: auto; margin-right: auto;"> -->
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="./assets/AWS.png" style="width: 50%;">
                    <br>
                    <a href="./assets/aws-tutorials/aws_categorized_and_defined.html" class="btn btn-primary">Amazon Web Services (AWS) Categorized & Defined</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="./assets/git_hub.png">
                    <br>
                    <a href="./assets/vc-tutorials/git_and_github.html" class="btn btn-primary">Git and GitHub Essentials: A Crash Course for Version Control and Collaboration</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="./assets/jenkins.png">
                    <br><br>
                    <a href="./assets/jenkins-tutorials/cicd_w_jenkins.html" class="btn btn-primary">CI/CD with Jenkins</a>
                </div>
            </div>
        </div>
    </div>
<!-- </div>
<div class="row" style="width: 95%; margin-left: auto; margin-right: auto;"> -->
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="./assets/command_prompt.png" style="width: 50%;">
                    <br>
                    <a href="./assets/commandline-tutorials/commandline-basics.html" class="btn btn-primary">Command Line Basics</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>