<br>
<div class="row" style="width: 95%; margin-left: auto; margin-right: auto;">
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="/assets/Core-Java.png" style="width: 50%;">
                    <br><br>
                    <a href="/assets/java-tutorials/java_basics.html" class="btn btn-primary" target="_blank">Java Basics</a>   
                    <br><br>
                    <a href="/assets/java-tutorials/introduction-to-java.html" class="btn btn-primary" target="_blank">OOP Concept</a>   

                    <br><br>
                    <a href="/assets/java-tutorials/introduction-to-java.html" class="btn btn-primary" target="_blank">Java Collections Framework</a>   
                    <br><br>

                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="/assets/og-spring.png">
                    <br><br>
                    <a href="/assets/spring-tutorials/spring_boot_application_architecture.html" class="btn btn-primary" target="_blank">Spring Boot Application Architecture Components and Their Roles</a>
                    <br><br>
                    <a href="/assets/spring-tutorials/spring_boot_annotations.html" class="btn btn-primary" target="_blank">Spring Boot Annotations</a>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="/assets/angular.png">
                    <br><br>
                    <a href="/assets/angular-tutorials/angular.html" class="btn btn-primary" target="_blank">Angular - Basic Concepts</a>
                    <!-- <a href="/assets/Angular - Basic Concepts.pdf" class="btn btn-primary" target="_blank">Angular - Basic Concepts</a> -->
                </div>
            </div>
        </div>
    </div>
<!-- </div>

<div class="row" style="width: 95%; margin-left: auto; margin-right: auto;"> -->
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="/assets/Javascript_badge.png" style="width: 35%;">
                    <br><br>
                    <a href="/assets/javascript-tutorials/javascript_basics.html" class="btn btn-primary" target="_blank">JavaScript Basics Cheat Sheet</a>
                    <br><br>
                    <a href="/assets/javascript-tutorials/nodejs.html" class="btn btn-primary" target="_blank">Node.js</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="/assets/postgres-logo.png">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="/assets/mongodb.png">
                </div>
            </div>
        </div>
    </div>
<!-- </div>

<div class="row" style="width: 95%; margin-left: auto; margin-right: auto;"> -->
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="/assets/AWS.png" style="width: 50%;">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="/assets/git_hub.png">
                    <br>
                    <a href="/assets/vc-tutorials/git_and_github.html" class="btn btn-primary" target="_blank">Git and GitHub Essentials: A Crash Course for Version Control and Collaboration</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="/assets/jenkins.png">
                    <br><br>
                    <a href="/assets/jenkins-tutorials/cicd_w_jenkins.html" class="btn btn-primary" target="_blank">CI/CD with Jenkins</a>
                </div>
            </div>
        </div>
    </div>
<!-- </div>
<div class="row" style="width: 95%; margin-left: auto; margin-right: auto;"> -->
    <div class="col-sm-4 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="container mt-4">
                    <img src="/assets/command_prompt.png" style="width: 50%;">
                    <br>
                    <a href="/assets/commandline-tutorials/commandline-basics.html" class="btn btn-primary" target="_blank">Command Line Basics</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>