
<main>
    <!-- Home Page -->
    <router-outlet></router-outlet> <!-- This will load the Home component -->

    <!-- About Section (inside Home) -->
    <section id="about">
        <app-about></app-about> <!-- Use Angular component selector -->
    </section>
    <br>

    <!-- Websites Deployed Section (inside Home) -->
    <section id="websites-deployed" style="width: 95%; margin-left: auto; margin-right: auto;">
        <app-websites-deployed></app-websites-deployed> <!-- Use Angular component selector -->
    </section>

    <br>
    <!-- Websites Under Construction Section (inside Home) -->
    <section id="websites-under-construction" style="width: 95%; margin-left: auto; margin-right: auto;">
        <app-websites-under-construction></app-websites-under-construction> <!-- Use Angular component selector -->
    </section>

    <br>
</main>