<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'; media-src 'self' data:;"> -->
  <title>DTWebSolutions</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <!-- Header Section -->
  <header style="color:#00376d;">
    <!-- Include the 'app-navbar' component for the header -->
    <app-navbar></app-navbar>
  </header>

  <!-- Main Content Section -->
  <main> 
    <!-- This is where the content of routed components will be displayed -->
    <router-outlet></router-outlet>
  </main> 

  <!-- Include the 'app-footer' component for the footer -->
  <app-footer></app-footer>

  <!-- JavaScript dependencies for Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
