<mat-card class="about-card">
    <mat-card-header class="about-header">
      <mat-icon class="about-icon">person</mat-icon>
      <mat-card-title class="about-title">About Me</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="about-text">
        Hey there! I'm Max Dell-Thibodeau, a software engineer based in the vibrant Metroarea of New York. With over 3 years of experience in both enterprise and freelance software development, I specialize in full-stack web development. My current role allows me to apply my expertise to create a diverse range of web projects for clients from various industries.
  
        Technology is not just my profession; it's my passion. I thrive on solving intricate problems, crafting user-friendly front-end interfaces, and building robust back-end systems. My commitment is to deliver high-quality solutions that drive innovation and make a positive impact.
  
        Outside the world of code, I'm an explorer at heart. I stay up-to-date with the latest industry trends and love experimenting with emerging technologies. When I'm not at my computer, you can find me hiking through the great outdoors or embarking on culinary adventures in my kitchen.
  
        Let's connect and explore the world of technology and creativity together. Feel free to reach out through the social media links below:
      </p>
      <ul class="social-media-list">
        <li>
          <a href="https://www.linkedin.com/in/max-dell-thibodeau/" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-linkedin"></i> LinkedIn
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/profile.php?id=61552185821437" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-facebook"></i> Facebook
          </a>
        </li>
        <li>
          <a href="https://instagram.com/dtwebsolutions?igshid=OGQ5ZDc2ODk2ZA%3D%3D&utm_source=qr" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-instagram"></i> Instagram
          </a>
        </li>
        <li>
          <a href="https://github.com/Aacgectyuoki" target="_blank" rel="noopener noreferrer">
            <i class="fab fa-github"></i> GitHub
          </a>
        </li>
        <!-- Add more social media links as needed -->
      </ul>
      <p class="about-text">
        I'm always open to new opportunities, challenges, and collaborations. If you have any questions or exciting projects in mind, don't hesitate to get in touch.
      </p>
    </mat-card-content>
  </mat-card>
  