<br>
<mat-card class="about-card">
    <mat-card-header class="modern-about-content">
      <mat-icon class="about-icon">person</mat-icon>
      <mat-card-title class="about-title">About Me</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- <img src="/assets/west_side_runners.png" class="img-fluid"  -->
      <!-- <img src="assets/Max Dell-Thibodeau.jpeg" alt="Max Dell-Thibodeau" class="about-image">  -->
      <img src="./assets/Max Dell-Thibodeau.jpeg" alt="Max Dell-Thibodeau" class="about-image rounded-circle" 
      style="width: 150px; height: 150px;">
      <p class="about-text">
        Hey there! I'm Max Dell-Thibodeau, a software engineer based in the vibrant Metroarea of New York. 
        With over 3 years of experience in both enterprise and freelance software development, I specialize in full-stack web development. 
        My current role allows me to apply my expertise to create a diverse range of web projects for clients from various industries.
  
        Technology is not just my profession; it's my passion. I thrive on solving intricate problems, crafting user-friendly front-end interfaces, 
        and building robust back-end systems. My commitment is to deliver high-quality solutions that drive innovation and make a positive impact.
  
        Outside the world of code, I'm a fitness enthusiast who enjoys a good workout, 
        a home chef who loves experimenting with new recipes, 
        and an avid reader who is always on the lookout for books that contribute to personal growth. 
        When I'm not at my computer, you can find me at the gym, in my kitchen, or captivated by a good book.
  
        Let's connect and explore the world of technology and creativity together. Feel free to reach out through the social media links below:
      </p>
      <div class="social-media-container">
        <a href="https://www.linkedin.com/in/max-dell-thibodeau" target="_blank" rel="noopener noreferrer" class="social-link">
          <i class="fab fa-linkedin-in fa-2x" style="color: #0082ca;"></i> LinkedIn
        </a>
        <a href="https://www.facebook.com/profile.php?id=61552185821437" target="_blank" rel="noopener noreferrer" class="social-link">
          <i class="fab fa-facebook-f fa-2x" style="color: #3b5998;"></i> Facebook
        </a>
        <a href="https://instagram.com/dtwebsolutions?igshid=OGQ5ZDc2ODk2ZA%3D%3D&utm_source=qr" target="_blank" rel="noopener noreferrer" class="social-link">
          <i class="fab fa-instagram fa-2x" style="color: #ac2bac;"></i> Instagram
        </a>
        <a href="https://github.com/Aacgectyuoki" target="_blank" rel="noopener noreferrer" class="social-link">
          <i class="fab fa-github fa-2x" style="color: #333333;"></i> GitHub
        </a>
        <!-- Add more social media links with Font Awesome icons here -->
      </div>
      
      
     
      <p class="about-text">
        I'm always open to new opportunities, challenges, and collaborations. If you have any questions or exciting projects in mind, don't hesitate to get in touch.
      </p>
    </mat-card-content>
  </mat-card>
  <br>