<!-- java-basics.component.html -->
<mat-toolbar color="primary">
    <span class="navbar-title">Java Basics Tutorial</span>
  </mat-toolbar>
  
  <div class="java-basics">
    <section class="section">
      <h3>Introduction to Java</h3>
      <p>Java is a high-level, object-oriented programming language known for its portability and wide usage in software development.</p>
    </section>
  

    <section class="section">
        <h3>Setting Up Your Java Development Environment</h3>
        <p>Before you start coding in Java, you need to set up your development environment. We will guide you through the process.</p>
      </section>
    
      <section class="section">
        <h3>Basic Syntax and Structure</h3>
        <p>Learn about the basic syntax and structure of Java programs, including comments, data types, and variables.</p>
      </section>
    
      <section class="section">
        <h3>Control Flow Statements</h3>
        <p>Understand how to use control flow statements such as if, else, and loops in Java to control program flow.</p>
      </section>
    
      <section class="section">
        <h3>Functions and Methods</h3>
        <p>Explore how to define and use functions and methods in Java for code reusability.</p>
      </section>
    
      <section class="section">
        <h3>Object-Oriented Programming (OOP) Concepts</h3>
        <p>Discover the core concepts of OOP, including classes, objects, inheritance, and polymorphism.</p>
      </section>
  
  </div>
  